<div class="dialog-content-wrapper">
  <mat-toolbar color="primary" matDialogTitle>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon>notifications</mat-icon>
      <span class="title dialog-title">Notificaciones</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">

  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">

  </div>

</div>
