<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true"
  [direction]="'leftToRightIncreased'" [color]="this.themeConfigService.selectedTheme.secundaryColor"
  [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'" [opened]="!isHandset">

    <mat-toolbar id="MainToolbarHeader" style="height: auto;" class="w-100" color="primary">

      <mat-toolbar-row class="p-3" style="height: auto !important;" fxLayout="row" fxLayoutAlign="center center">
        <div class="profile-img" fxLayoutAlign="center center">
          <img src="../../../assets/images/background/angular-icon.svg">
        </div>

      </mat-toolbar-row>

      <mat-toolbar-row class="p-2" style="height: auto !important;" fxLayoutAlign="center center">
        <span class="mat-title mb-0">Admin Dashboard</span>
      </mat-toolbar-row>

      <!-- <div fxLayout="row" class="w-100" fxLayoutAlign="start center" fxLayoutGap="gappx">

        <div fxFlex="30" fxLayoutAlign="start center">
          <img *ngIf="true" height="54px" src="{{'../../../../../assets/images/background/loadingBackground.jpg"
            onerror="this.onerror=null;this.src='../../../assets/images/logo/havanatur_transparent_logo.png';" />
        </div>
        <div fxLayout="column"  fxFlex="70" fxLayoutAlign="start center" fxLayoutGap="gappx">
            <span class="mat-title mb-0">{{'Agency Name'|translate}}</span>
        </div>
        
      </div> -->

    </mat-toolbar>

    <mat-nav-list class="navList">
      <app-menu-list-item *ngFor=" let item of navigationData" [item]="item"></app-menu-list-item>
    </mat-nav-list>
    <footer id="NavBarFooter" class="w-100">
      <mat-toolbar style="height: 46px !important;" class="w-100" color="primary">
        <span class="mat-caption mx-auto">{{'Copyright'|translate}} &copy;2019</span>
      </mat-toolbar>
    </footer>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <mat-toolbar-row>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex.xs="100" fxFlex="78">
          <div fxLayoutAlign="start center" fxFlex="25">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="isHandset || !this.sidenav.opened">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <app-breadcrumd [separator]="separator"></app-breadcrumd>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="pr-4" style="position: fixed;right: 0;"
            fxLayoutAlign="start start">

            <button class="mx-1" mat-icon-button [matMenuTriggerFor]="menuLanguage"
              matTooltip="{{'Change language'|translate}}">
              <img *ngIf="this.language === 'en'" width="25" style="border-radius: 50%;"
                src="../../../assets/images/lang/en.svg">
              <img *ngIf="this.language === 'es'" width="25" style="border-radius: 50%;"
                src="../../../assets/images/lang/es.svg">
            </button>
            <mat-menu #menuLanguage="matMenu">

              <button mat-menu-item *ngIf="this.language !== 'en'" (click)="onSwitchLanguage('en')">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex class="px-2">
                  <img width="25" src="../../../assets/images/lang/en.svg">
                  <span class="ml-2">English</span>
                </div>
              </button>
              <button mat-menu-item *ngIf="this.language !== 'es'" (click)="onSwitchLanguage('es')">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex class="px-2">
                  <img width="25" src="../../../assets/images/lang/es.svg">
                  <span class="ml-2">Español</span>
                </div>
              </button>
            </mat-menu>

            <button class="mx-1" mat-icon-button matTooltip="{{'Notifications'|translate}}"
              (click)="onViewNotifications()">
              <mat-icon class="mat-18">notifications</mat-icon>
            </button>

            <button class="mx-1" mat-icon-button matTooltip="{{'Select a theme'|translate}}">
              <mat-icon class="cursor-pointer" aria-label="Side nav toggle icon" [matMenuTriggerFor]="menuThemes">
                <span>
                  <mat-icon>format_color_fill</mat-icon>
                </span>
              </mat-icon>
            </button>

            <mat-menu class="mx-1" #menuThemes="matMenu" backdropClass="MenuPanelLayoutThemes">
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="gappx">
                <div fxLayoutAlign="center center" fxFlex="30" *ngFor="let theme of this.arrayOfThemes">
                  <button mat-menu-item (click)="onChangeTheme(theme)">
                    <div fxLayoutAlign="center center" class="mat-elevation-z4 mx-auto"
                      style="height: 32px; width: 32px; border-radius: 50%;"
                      [ngStyle]="{'background-color': theme.mainColor }">
                    </div>
                  </button>
                </div>
              </div>
            </mat-menu>

            <button mat-icon-button matTooltip="{{'User options'|translate}}">
              <mat-icon class="cursor-pointer" aria-label="Side nav toggle icon" [matMenuTriggerFor]="menu">more_vert
              </mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="mymegamenu">
              <button mat-menu-item (click)="onEditProfile()">
                <mat-icon>account_box</mat-icon>
                {{"My Profile"|translate}}
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                {{"Exit"|translate}}
              </button>
            </mat-menu>

            <div fxLayout="row" class="py-1" fxLayoutAlign="start center">
              <img class="ImageAvatar" *ngIf="!this.loggedInUser || !this.loggedInUser.image"
                src="{{'../../../assets/images/users/user.png'}}" alt="user">
              <img class="ImageAvatar" *ngIf="this.loggedInUser && this.loggedInUser.image"
                src="{{userUrl+loggedInUser.image}}" alt="user"
                onerror="this.onerror=null;this.src='../../../assets/images/users/user.png';">
            </div>


            <div fxLayout="column" fxHide.xs style="margin-right: 0px !important;" fxLayoutAlign="center start">
              <span class="mat-body-1" style="font-size: 13px !important;">{{loggedInUser.name}}</span>
              <span class="mat-caption">{{loggedInUser.email}}</span>
            </div>
          </div>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>

    <!--views-->
    <div class="MainLayoutRoutes" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
