@import '../../../../assets/styles/variable';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

}

.mat-list-item {
  padding: 2px 0;
  display: flex;
  width: auto;
  color: #616161;

  .routeIcon {
    margin-right: 30px;
  }

  &:hover {
    border-radius: 24px;
  }

}
