<a mat-list-item fxLayoutAlign="start center" [ngStyle]="{'padding-left': (depth * 16) + 'px'}"
  (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  class="menu-list-item color-grey-700">
  <span style="min-width: 26px !important;" fxLayoutAlign="start center">
    <!-- <span fxFlex></span> -->
    <mat-icon class="icon-arrow-nav-bar" *ngIf="item.children && item.children.length" style="margin:0px !important;"
      [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      keyboard_arrow_right
    </mat-icon>
  </span>
  <div class="menu-icons-nav-bar" fxLayoutAlign="start center">
    <!-- <fa-icon *ngIf="item.iconName && !item.material" [icon]="item.iconName"></fa-icon> -->
    <mat-icon *ngIf="item.material">{{item.iconName}}</mat-icon>
  </div>
  <span class="mat-body-1 ml-2">{{item.displayName | translate}}</span>

</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
