
@import "variable";

/*grey*/
.background-color-grey-50 {
  background-color: $grey-50;
}
.background-color-grey-100 {
  background-color: $grey-100;
}
.background-color-grey-200 {
  background-color: $grey-200;
}
.background-color-grey-300 {
  background-color: $grey-300;
}
.background-color-grey-400 {
  background-color: $grey-400;
}
.background-color-grey-500 {
  background-color: $grey-500;
}
.background-color-grey-600 {
  background-color: $grey-600;
}
.background-color-grey-700 {
  background-color: $grey-700;
}
.background-color-grey-800 {
  background-color: $grey-800;
}
.background-color-grey-900 {
  background-color: $grey-900;
}

/*red*/
.background-color-red-100 {
  background-color: $red-100;
}
.background-color-red-200 {
  background-color: $red-200;
}
.background-color-red-300 {
  background-color: $red-300;
}
.background-color-red-400 {
  background-color: $red-400;
}
.background-color-red-500 {
  background-color: $red-500;
}
.background-color-red-600 {
  background-color: $red-600;
}
.background-color-red-700 {
  background-color: $red-700;
}
.background-color-red-800 {
  background-color: $red-800;
}
.background-color-red-900 {
  background-color: $red-900;
}

/*teal*/
.background-color-teal-100 {
  background-color: $teal-100;
}
.background-color-teal-200 {
  background-color: $teal-200;
}
.background-color-teal-300 {
  background-color: $teal-300;
}
.background-color-teal-400 {
  background-color: $teal-400;
}
.background-color-teal-500 {
  background-color: $teal-500;
}
.background-color-teal-600 {
  background-color: $teal-600;
}
.background-color-teal-700 {
  background-color: $teal-700;
}
.background-color-teal-800 {
  background-color: $teal-800;
}
.background-color-teal-900 {
  background-color: $teal-900;
}

/*amber*/
.background-color-amber-100 {
  background-color: $amber-100;
}
.background-color-amber-200 {
  background-color: $amber-200;
}
.background-color-amber-300 {
  background-color: $amber-300;
}
.background-color-amber-400 {
  background-color: $amber-400;
}
.background-color-amber-500 {
  background-color: $amber-500;
}
.background-color-amber-600 {
  background-color: $amber-600;
}
.background-color-amber-700 {
  background-color: $amber-700;
}
.background-color-amber-800 {
  background-color: $amber-800;
}
.background-color-amber-900 {
  background-color: $amber-900;
}

